nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-width: 0px !important;
  background-color: #c9f0f8 !important;
}
nav li {
  padding-left: 2px;
  padding-right: 2px;
}
nav a {
  color: black !important;
}
nav a:not(.navbar-brand) {
  border-bottom-style: solid;
  border-bottom-color: #00abcd;
  border-bottom-width: 0px;
  padding-bottom: 2px;
/*   margin-bottom: 15px; */
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin-left: 4px;
  margin-right: 4px;
  transition: border-bottom-width 0.2s; /* MAKE SURE TO COME BACK TO THIS!!!!!!!!!!!!!!!*/
}
nav a:not(.navbar-brand):hover {
/*   margin-bottom: 11px; */
  border-bottom-width: 4px;
  text-decoration: none;
}
nav li {
  position: relative;
}
.in ul:not(.dropdown-menu), .collapsing ul:not(.dropdown-menu) {
  display: block !important;
}
@media (min-width: 768px) and (max-width: 1281px) {
  nav ul {
    display: none;
  }
/*   .navbar-collapse.collapse {
    display: none !important;
  } */
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}